@import url('global.css');

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

ul {
	list-style: none;
}

.fc-box {
	padding: 40px 10px;
	margin-top: 15px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	background: var(--fc-background2);
	height: 400px;
	padding-bottom: 40px;
	box-shadow: 0px 12px 12px 6px rgb(var(--fc-black) var(--fc-black) var(--fc-black) / 12%),
		inset 6px 6px 5px rgb(var(--fc-black) var(--fc-black) var(--fc-black) / 12%),
		inset -6px -6px 5px rgb(var(--fc-black) var(--fc-black) var(--fc-black) / 12%);
	border: 5px solid rgb(var(--fc-black) var(--fc-black) var(--fc-black) / 25%);
	border-radius: 20px;
}

.fc-nav {
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 15px 5px 25px;
	border-radius: 15px;
	background: var(--fc-background2);
	box-shadow: 0px 6px 6px 3px rgb(var(--fc-black) var(--fc-black) var(--fc-black) / 12%),
		inset 3px 3px 2px rgb(var(--fc-black) var(--fc-black) var(--fc-black) / 12%),
		inset -3px -3px 2px rgb(var(--fc-black) var(--fc-black) var(--fc-black) / 12%);
	border: 2px solid rgb(var(--fc-black) var(--fc-black) var(--fc-black) / 20%);
	font-size: 30px;
	letter-spacing: 10px;
	text-align: center;
	user-select: none;
}

.fc-nav h2 {
	font-size: 12px;
	margin-top: 10px;
	letter-spacing: 5px;
}

.fc-nav .fa-lock-open {
	padding-right: 5px;
}

.optionForm input {
	float: left;
	background: none;
	border: none;
	color: inherit;
	line-height: 32px;
	padding: 0px 10px;
}

.optionForm input::-webkit-outer-spin-button,
.optionForm input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.optionForm input[type=number] {
	-moz-appearance: textfield;
}

.clear {
	clear: both;
}

.optionForm:hover {
	color: var(--fc-globalcolor1);
	border-bottom: 2px solid var(--fc-globalcolor1);
}

.optionForm {
	transition: 0.2s;
	padding-bottom: 4px;
	clear: both;
	width: 260px;
	margin: 10px auto;
	border-bottom: 2px solid var(--fc-accent1);
	color: var(--fc-accent1);
	border-radius: 2px;
}

.optionFormSubmit:hover {
	transition: 0.4s linear;
	background: linear-gradient(222deg, var(--fc-accent1), var(--fc-accent2));
	color: var(--fc-globalcolor1);
	border-radius: 15px 15px 10px 10px;
	letter-spacing: 2px;
	box-shadow: inset 20px 0px 20px var(--fc-accent2),
		inset -50px 0px 20px var(--fc-accent1);
}

.optionFormSubmit {
	display: block;
	width: 260px;
	margin: 40px auto;
	background: linear-gradient(45deg, var(--fc-accent1), var(--fc-accent2));
	border: none;
	color: var(--fc-globalcolor1);
	padding: 16px 0px;
	transition: 0.3s;

	animation: radiusButton 4s ease-out;
	animation-iteration-count: infinite;

}

@keyframes radiusButton {

	0%,
	100% {
		border-radius: 20px 20px 10px 10px;
	}

	50% {
		border-radius: 10px 10px 5px 5px;
	}
}


.codeDecrypte {
	display: none;
	font-size: 16px;
	color: var(--fc-globalcolor1);
	text-align: center;
	user-select: none;
	cursor: pointer;
}

#decyrptedPassword {
	user-select: all !important;
}

.copyText {
	background: var(--fc-background2);
	margin-left: auto;
	margin-right: auto;
	display: none;
	transition: 0.5s;
	text-align: center;
	padding: 20px;
	border-top: 1px solid var(--fc-accent1);
	border-bottom: 1px solid var(--fc-accent1);
	border-left: 15px solid var(--fc-accent1);
	border-right: 15px solid var(--fc-accent1);
	filter: drop-shadow(0 0 5px var(--fc-accent1));
	border-radius: 4px;
	width: 200px;
}

.copyText .fa-copy {
	padding-right: 5px;
	font-size: 17px;
	color: var(--fc-accent1);
	filter: drop-shadow(0 0 5px var(--fc-accent1));
}

.fc-author {
	position: relative;
	width: 350px;
	margin: 130px auto;
	padding: 30px;
	border-radius: 5px;
	background: var(--fc-background2);
	box-shadow: 0px 6px 6px 3px rgb(var(--fc-black) var(--fc-black) var(--fc-black) / 12%),
		inset 3px 3px 2px rgb(var(--fc-black) var(--fc-black) var(--fc-black) / 12%),
		inset -3px -3px 2px rgb(var(--fc-black) var(--fc-black) var(--fc-black) / 12%);
	border: 2px solid rgb(var(--fc-black) var(--fc-black) var(--fc-black) / 20%);
	border-radius: 20px;
	z-index: 5;
}

.fc-author li {
	color: var(--fc-globalcolor2);
}

.author {
	cursor: pointer;
}

.author::before {
	content: '';
	position: fixed;
	height: 10px;
	display: inline-block;
	background: linear-gradient(90deg, var(--fc-accent1), var(--fc-accent2));
	animation: pulseBlur 1s ease-out;
	animation-iteration-count: infinite;
	z-index: -1;
}

.author::before {
	width: 52px;
}

@keyframes pulseBlur {
	0% {
		opacity: 0.5;
		transform: scale(0.95);
		filter: blur(20px);
	}

	70% {
		opacity: 0.6;
		transform: scale(1);
		filter: blur(15px);
	}

	100% {
		opacity: 0.5;
		transform: scale(0.95);
		filter: blur(20px);
	}
}

.fc-content {
	font-size: 16px;
	z-index: 6;
	color: var(--fc-globalcolor1);
}

#author {
	display: none;
	opacity: 0.0;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(var(--fc-black) var(--fc-black) var(--fc-black) / 70%);
	top: 0px;
	z-index: 6;
}

.optionsWindow i:hover {
	color: var(--fc-accent1);
}

.optionsWindow i {
	cursor: pointer;
	right: 10px;
	top: 10px;
	position: absolute;
	z-index: 4;
}

.optionsWindow {
	display: block;
	float: right;
	font-size: 24px;
	color: var(--fc-globalcolor2);
}